body {
    
    color: white;
  }
  
  .my-col {
    height: fit-content;
    background-color: #4e79a2;
    display: block;
    line-height: 20px;
    text-align:center;
    

    color:white;
    padding-bottom:1.6em;
    padding-top:1.6em;
  }

  .my-col h1{
    margin-right:175px;
    font-weight:bolder;
  }

  .my-col h3{
    margin-right:175px;
    font-weight:bolder;
  }

  .my-col h6{
    margin-right:175px;
    font-weight:bolder;
  }


  .i-col {
    height: fit-content;
    background-color: #4e79a2;
    display: block;
    line-height: 20px;
    color:white;
    padding-bottom:2.7em;
    padding-top:1.6em;
  }
  
 
  
  .title-col {
    padding-right: 90px;
  }
  
  .body-row {
    margin-top: 4%;
    margin-bottom: 5px;
    flex-direction:row;
  }
  
  .buttonRow {
    margin-top: 20px;
    align-items: center;
    margin-bottom:20px;
    
  }

  .button{
    margin-top:20px;
  }
  
  .background {
    border: 1px solid #444;
  }
  
  .test {
    padding-top: 50px;
    margin-top: 150px;
  }
  